sudo: required

language: node_js

node_js:
  - '6'

cache:
  directories:
  - node/node_modules

services:
  - docker

before_install:
  - docker-compose up -d

install:
  - cd node && npm install

script:
  - node producer.js
  - node consumer.js
